<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <h2>Selamat Datang di Traveloke!</h2>
    <td><a th:href="@{/hotel/viewall}">Lihat Semua Hotel</a></td>
    <h3>Tambah Hotel</h3>
    <td><a th:href="@{/hotel/add}">Tambah Hotel</a></td>
    <h3>Cari Hotel Berdasarkan ID</h3>
    <form th:action="@{/hotel/view}" method="GET">
        Id Hotel : <br>
        <input type="text" name="idHotel"/>
        <button type="submit">Cari</button>
    </form>
</body>
</html>