<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>View All Hotel</title>
</head>
<body>
    <td><a th:href="@{/}">Kembali ke Home</a></td>
    <h2>Daftar Seluruh Hotel</h2>
    <hr>
    <div th:each="hotel: ${listHotel}">
        <h3 th:text="'Id Hotel: '+ ${hotel.id}"></h3>
        <h3 th:text="'Nama Hotel: '+ ${hotel.namaHotel}"></h3>
        <h3 th:text="'Alamat Hotel: '+ ${hotel.alamat}"></h3>
        <h3 th:text="'Nomor Telepon: '+ ${hotel.nomorTelepon}"></h3>
        <td><a th:href="@{/hotel/view?idHotel=}+${hotel.id}">See Hotel's Detail</a></td>
        <hr>
    </div>
</body>
</html>