.button {
    border-radius: 100px;
    padding: 8px 16px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-weight: bold;
    background-color: dodgerblue;
    pointer-events: none;
    
}

.button:hover {
    opacity: 0.9;
}